@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #f9fafb;
    color: #111827;
    font-family: "Inter", system-ui, -apple-system, sans-serif;
  }
}
